.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;

    &.div {
        width: fit-content;
    }
}

.flex-2, .flex-3, .flex-4 {
    gap: 1px;
    display: grid;

    margin-top: 0;
    margin-bottom: 0;

    &.gap {
        gap: 10px;
    }

    & > .span-2 {
        grid-column: span 2;
    }

    & > div {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.flex-2 {
        grid: auto / 1fr 1fr;
    }

    &.flex-3 {
        grid: auto / 1fr 1fr 1fr;
    }

    &.flex-4 {
        grid: auto / 1fr 1fr 1fr 1fr;
    }

    & img {
        width: 100%;
    }
}