todo {
    display: block;

    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 4px;

    &::before {
        content: "[TODO] "
    }
}

.danger, .hint, .info, .exo, div.custom {

    margin-top: 1px;
    margin-bottom: 1px;

    border-radius: 5px;
    border-left: 2px solid var(--block-color);
    padding-left: 4px;

    background-color: color-mix(in srgb, var(--block-color) 40%, light-dark(white, black));

    &::before {
        color: var(--block-color);
        content: var(--block-symbol) " ";
    }
}

.danger {
    --block-color: red;
    --block-symbol: "⚠";
}

.hint {
    --block-color: yellow;
    --block-symbol: "💡";
}

.info {
    --block-color: orange;
    --block-symbol: "📚";
}

.exo {
    --block-color: green;
    --block-symbol: "🧩";

    font-style: italic;

    &::before {
        font-style: normal;
    }

    & summary {
        margin-top: 5px;
    }
}

div.custom {
    --block-color: gray;
    --block-symbol: "Ⓟ";
}

code-script.custom::before {
    content: "Ⓟ";
    background-color: black;
    border-radius: 5px;
    margin-right: 2px;
    padding-left: 1px;
    padding-right: 1px;
    color: white;
}