
todo {
    display: block;

    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 4px;

    &::before {
        content: "[TODO] "
    }
}

.danger {
    border-left: 2px solid red;
    padding-left: 4px;

    &::before {
        color: red;
        content: "⚠ "
    }
}

.hint {
    border-left: 2px solid yellow;
    padding-left: 4px;

    &::before {
        content: "💡 "
    }
}

.info {
    border-left: 2px solid orange;
    padding-left: 4px;

    &::before {
        content: "📚 "
    }
}

.exo {

    border-left: 2px solid green;
    padding-left: 4px;

    font-style: italic;

    &::before {
        content: "🧩 ";
        font-style: normal;
    }

    & summary {
        margin-top: 5px;
    }
}